p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.coreProcesses {
  border:1px solid black;
  background-color: #ddffdd;
  margin: 20px;
  padding: 5px;
}

.exampleList {
  border:1px dashed blue;
  background-color: #ddddff;
  margin: 20px;
  padding: 5px;
}

.produceSomething {
  border:1px dashed red;
  background-color: #ffdddd;
  margin: 20px;
  padding: 5px;
}

.produceSomething ul, .exampleList ul, .coreProcesses ul {
  list-style-type: none;
}

.produceSomething li:before {
  content: '✔️'; margin-left: -10px; margin-right: 10px;
}

.exampleList li:before {
  content: '👉️'; margin-left: -10px; margin-right: 10px;
}

.coreProcesses li:before {
  content: '🎓️'; margin-left: -10px; margin-right: 10px;
}

.book .book-body .page-wrapper .page-inner section.normal .coreProcesses ul, .book .book-body .page-wrapper .page-inner section.normal .exampleList ul, .book .book-body .page-wrapper .page-inner section.normal .produceSomething ul {
  margin-bottom: 0;
}

